
* {
    font-family: "Fira Sans Semibold", Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: transparent;
}

#workspaces,
#workspaces button.active,
#tray
#battery,
#custom-exit,
#custom-gpu,
#custom-appmenu,
#network,
#bluetooth,
#pulseaudio,
#memory,
#cpu,
#clock {
    font-weight: bold;
    margin: 0 4px;
    padding: 0 8px;
    border-radius: 24px;
    color: #45475A;
}

#network {
    background-color: #F5C2E7; /* magenta */
}

#bluetooth {
    background-color: #89B4FA; /* blue */
}

#pulseaudio {
    background-color: #94E2D5; /* cyan */
}

#custom-exit {
    padding: 0 12px;
    background-color: #F38BA8; /* red */
}

#memory {
    padding: 0 8px;
    background-color: #F9E2AF; /* green */
}

#cpu {
    background-color: #A6E3A1; /* yellow */
}

#custom-gpu {
    background-color: #fab387; /* peach */ 
}

#clock {
    background-color: #B4BEFE; /* lavender */
}

#custom-appmenu {
    background-color: #f4b8e4; /* pink */
}

#workspaces button.active {
    background-color: #babbf1; /* pink */
}
